# Umum
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
instance/
.env

# Direktori lingkungan virtual
venv/
ENV/
env/
venv.bak/
.venv

# File konfigurasi dan kredensial
config.py
*.env

# File database SQLite (jika menggunakan SQLite untuk pengembangan)
*.db

# Direktori logs
logs/
*.log

# Direktori cache Flask dan file upload
cache/
uploads/

# Static files yang dihasilkan
*.bak
.DS_Store

# Jupyter Notebook checkpoints (jika menggunakan Jupyter Notebook)
.ipynb_checkpoints

# VS Code
.vscode/
